<!DOCTYPE html>
<html lang="it">
<head>
  <title>Esercizio Layout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="es3.css">
</head>
<body>
<nav id="navbar"><p>Prova</p></nav>
    <h1 id="titolo">Primo test di layout</h1>
<div class="container">
    <div class="col1" id="A">
        <p>Questa è l'area A. <p>
        <p>Negli schermi per PC è larga un quarto dello spazio disponibile (a parte le colonne laterali). 
        Negli schermi per tablet è larga la metà dello spazio disponibile (a parte le colonne laterali) e ha l'area C sotto di sé.</p>
    </div> 
    <div class="col2" id="B">   
        <p>Questa è l'area B. <p>
        <p>Negli schermi per PC è larga un quarto dello spazio disponibile (a parte le colonne laterali). 
        Negli schermi per tablet è larga la metà dello spazio disponibile (a parte le colonne laterali) e ha l'area D sotto di sé.</p>
    </div>
    <div class="col3" id="C">
        <p>Questa è l'area C. <p>
        <p>Negli schermi per PC è larga un quarto dello spazio disponibile (a parte le colonne laterali). 
        Negli schermi per tablet è larga la metà dello spazio disponibile (a parte le colonne laterali) e ha l'area A sopra di sé.</p>
    </div>
    <div class="col4" id="D">
        <p>Questa è l'area D. <p>
        <p>Negli schermi per PC è larga un quarto dello spazio disponibile (a parte le colonne laterali). 
        Negli schermi per tablet è larga la metà dello spazio disponibile (a parte le colonne laterali) e ha l'area B sopra di sé.</p>
    </div>
</div>
</body>
</html>
