body
{
    font-family: 'Courier New';
    padding: 10px;
}
#sec1
{
    background-color: lightgray;
    text-align: justify;
}
h1
{
    text-align: center;
}
a
{
    background-color: red;
    font-size: 150%;
}
#list1
{
    font-style: italic;
    border: 3px dashed blue;
}